@model IEnumerable<Model.Models.Usuario>

@{
    ViewData["Title"] = "ListarUsuarios";
}

<h2>Listar Usuarios</h2>

<p>
    <a asp-action="Cadastrar">Criar novo</a>
</p>
@if (Model == null)
{
    <p>Não possui usuários cadastrados</p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeProfissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoProfissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isDisponibilidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProfissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoProfissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDisponibilidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }) |
                @Html.ActionLink("Deletar Conta", "Remover", new { id = item.Id }) |
                @Html.ActionLink("Verificar Interesses", "ObterPorId", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>
}

